<!doctype html>
<html lang="zh">
<head>
  <meta charset="utf-8" />
  <title>学习</title>
</head>
<body>
  <script scr="https://cdn.babylonjs.com/cannon.js"></script>
  <div id="root"></div>
</body>
</html>
